/John Tut/Deployment/dist/
/John Tut/Scriptlets/nbproject/private/
/John Tut/Scriptlets/build/
/John Tut/MVC/nbproject/private/
/John Tut/MVC/build/
/John Tut/Form/nbproject/private/
/John Tut/Form/build/
/John Tut/Forms/nbproject/private/
/John Tut/Forms/build/
/John Tut/MVCForm/nbproject/private/
/John Tut/MVCForm/build/
/John Tut/Session Tracking/nbproject/private/
/John Tut/Session Tracking/build/
/John Tut/Servlet Context/nbproject/private/
/John Tut/Servlet Context/build/
/John Tut/Scope Objects/nbproject/private/
/John Tut/Scope Objects/build/
/John Tut/Cookies/nbproject/private/
/John Tut/Cookies/build/
/John Tut/Databases/nbproject/private/
/John Tut/Databases/build/
/John Tut/Mail/nbproject/private/
/John Tut/Mail/build/
/John Tut/JSTL/nbproject/private/
/John Tut/JSTL/build/
/John Tut/JSTL/dist/
/John Tut/Picture Squirrel/nbproject/private/
/John Tut/Picture Squirrel/build/
/John Tut/Picture Squirrel/dist/
/John Tut/QueringData/nbproject/private/
/John Tut/QueringData/build/
/John Tut/Replacing Constructor/nbproject/private/